name: Statistic of Repo

on:
  #schedule:
    # Run this once per day, towards the end of the day for keeping the most
    # recent data point most meaningful (hours are interpreted in UTC).
  #- cron: "0 09 * * *"
  workflow_dispatch: # Allow for running this manually.

jobs:
  collect_data_gem:
    name: github-repo-stats
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The repositories to generate reports for.
        statsRepo: ['gem/oq-engine', 'gem/oq-irmt-qgis', 'gem/global_exposure_model', 'gem/earthquake-scenarios', 'gem/global_vulnerability_model', 'gem/oq-taxonomy', 'gem/risk-profiles']
      # Do not cancel&fail all remaining jobs upon first job failure.
      fail-fast: false
      max-parallel: 1
    steps:
      - name: run_collection
        # Use latest release.
        uses: jgehrcke/github-repo-stats@RELEASE
        with:
          repository:  ${{ matrix.statsRepo }}
          ghtoken: ${{ secrets.STATS_GITHUB_API_TOKEN }}
